flows.json
[{"id":"204b0de7.c35dd2","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"c62a9601.da3918","type":"ui_form","z":"204b0de7.c35dd2","name":"","label":"","group":"c3393bbb.2feb28","order":2,"width":0,"height":0,"options":[{"label":"AVG. HEART BEATS PER. MIN.","value":"hb","type":"number","required":true,"rows":null},{"label":"PALPITATIONS PER DAY","value":"pp","type":"number","required":true,"rows":null},{"label":"CHOLESTEROL","value":"cl","type":"number","required":true,"rows":null},{"label":"BODY MASS INDEX","value":"bm","type":"number","required":true,"rows":null},{"label":"AGE","value":"ag","type":"number","required":true,"rows":null},{"label":"SEX","value":"sx","type":"text","required":true,"rows":null},{"label":"FAMILY HISTORY","value":"fh","type":"text","required":true,"rows":null},{"label":"SMOKER LAST 5 YRS","value":"sm","type":"text","required":true,"rows":null},{"label":"EXERCISE MIN. PER WEEK","value":"xr","type":"number","required":true,"rows":null}],"formValue":{"hb":"","pp":"","cl":"","bm":"","ag":"","sx":"","fh":"","sm":"","xr":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":360,"wires":[["3edf7620.f8f9ca","57aa947d.73bcdc"]]},{"id":"57aa947d.73bcdc","type":"debug","z":"204b0de7.c35dd2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":290,"y":480,"wires":[]},{"id":"3edf7620.f8f9ca","type":"function","z":"204b0de7.c35dd2","name":"pre-token","func":"global.set(\"hb\",msg.payload.hb)\nglobal.set(\"pp\",msg.payload.pp)\nglobal.set(\"cl\",msg.payload.cl)\nglobal.set(\"bm\",msg.payload.bm)\nglobal.set(\"ag\",msg.payload.ag)\nglobal.set(\"sx\",msg.payload.sx)\nglobal.set(\"fh\",msg.payload.fh)\nglobal.set(\"sm\",msg.payload.sm)\nglobal.set(\"xr\",msg.payload.xr)\nvar apikey=\"0gc03RoZxh_k2ip2k-8AlNkpcqcgN-54MUTjW1S-nvOx\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":260,"wires":[["c7eb9d5d.74abc"]]},{"id":"c7eb9d5d.74abc","type":"http request","z":"204b0de7.c35dd2","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":320,"wires":[["98f876c4.00c9a8","54636c17.8cecd4"]]},{"id":"98f876c4.00c9a8","type":"debug","z":"204b0de7.c35dd2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":480,"wires":[]},{"id":"54636c17.8cecd4","type":"function","z":"204b0de7.c35dd2","name":"Pre Prediction","func":"var hb = global.get(\"hb\")\nvar pp = global.get(\"pp\")\nvar cl = global.get(\"ad\")\nvar bm = global.get(\"bm\")\nvar ag = global.get(\"ag\")\nvar sx = global.get(\"sx\")\nvar fh = global.get(\"fh\")\nvar sm = global.get(\"sm\")\nvar xr = global.get(\"xr\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"AVG. HEART BEATS PER. MIN.\", \"PALPITATIONS PER DAY\", \"CHOLESTEROL\", \"BODY MASS INDEX\", \"AGE\", \"SEX\",\"FAMILY HISTORY\",\"SMOKER LAST 5 YRS\", \"EXERCISE MIN. PER WEEK\"]],\"values\": [[hb,pp,cl,bm,ag,sx,fh,sm,xr]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":260,"wires":[["69867b4a.d08904"]]},{"id":"69867b4a.d08904","type":"http request","z":"204b0de7.c35dd2","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/1275ea87-437d-48e2-ba83-8a8611ca0199/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":260,"wires":[["24a4c433.5ef63c","fd19cd4b.f6101"]]},{"id":"24a4c433.5ef63c","type":"debug","z":"204b0de7.c35dd2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":320,"wires":[]},{"id":"c542f310.fb92f","type":"inject","z":"204b0de7.c35dd2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":260,"wires":[["3edf7620.f8f9ca"]]},{"id":"9da286f8.ebdfa8","type":"debug","z":"204b0de7.c35dd2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":380,"wires":[]},{"id":"fd19cd4b.f6101","type":"function","z":"204b0de7.c35dd2","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":380,"wires":[["9da286f8.ebdfa8","9ac123f5.59ef2"]]},{"id":"9ac123f5.59ef2","type":"ui_text","z":"204b0de7.c35dd2","group":"ae26e0c6.68b16","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":757.6000366210938,"y":481.20001220703125,"wires":[]},{"id":"c3393bbb.2feb28","type":"ui_group","z":"","name":"USER INPUT","tab":"8d99c5fb.2b9dd8","order":2,"disp":true,"width":"6","collapse":false},{"id":"ae26e0c6.68b16","type":"ui_group","z":"","name":"New","tab":"10a10ab7.b736f5","order":1,"disp":true,"width":"6","collapse":false},{"id":"8d99c5fb.2b9dd8","type":"ui_tab","z":"","name":"Heart Disease Prediction","icon":"dashboard","disabled":false,"hidden":false},{"id":"10a10ab7.b736f5","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]